.dont-break-out {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
body {
	background: url(https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
header {
	width: 100vw;
}
@media (max-width: 768px) {
	header {
		position: relative;
		overflow: hidden;
	}
}
::selection {
	background: turquoise;
}
.reset-button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	padding: 0;
}
#description {
	color: rgba(255, 255, 255, .8);
	font-family: monospace, monospace;
	font-size: 2.5rem;
	position: relative;
	z-index: 1;
}
.description-list {
	list-style: none;
}
@media (max-width: 768px) {
	.description-list {
		margin: 0 0 40px;
		padding: 0;
	}
}
.description-list a {
	color: rgba(255, 255, 255, .8);
}
#decor {
	position: absolute;
	right: 0;
	top: 0;
	width: 700px;
}
@media (max-width: 768px) {
	#decor {
		opacity: .3;
		overflow-x: hidden;
		right: auto;
		width: 768px;
	}
}
#tardis {
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleX(-1);
}
#blocks {
	display: block;
	margin: 0 auto;
	width: 650px;
}
#path {
	fill: white;
	stroke-width: 15%;
}

#agenda-holder {
	left: calc(50% - 400px);
	position: absolute;
	top: 90vh;
	width: 800px;
}
@media (max-width: 768px) {
	#agenda-holder {
		left: 0;
		position: relative;
		top: 20px;
		width: 100%;
	}
}
#agenda-scroller {
	color: rgba(255, 255, 255, .8);
	cursor: pointer;
	display: block;
	font-family: monospace, monospace;
	font-size: 3rem;
	margin: 0 auto 100px;
	position: relative;
	width: 300px;
	z-index: 1;
}
#agenda-scroller:after {
	content: " ⏬";
}
#agenda {
	color: rgba(255, 255, 255, .8);
	font-family: monospace, monospace;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
}
.agenda-item {
	margin-bottom: 40px;
	min-height: 100px;
	width: 50%;
}
@media (max-width: 768px) {
	.agenda-item {
		margin-bottom: 80px;
		width: 100%;
	}
}
.agenda-content-odd {
	padding-right: 30px;
	text-align: right;
}
@media (max-width: 768px) {
	.agenda-content-odd {
		padding-right: 0;
		text-align: left;
	}
}
.agenda-content-even {
	left: calc(100% - 30px);
	padding-left: 30px;
	position: relative;
}
@media (max-width: 768px) {
	.agenda-content-even {
		left: 0;
		padding-left: 0;
		position: relative;
	}
}
.agenda-item .photo {
	background-size: cover;
	background: no-repeat center center;
	display: block;
	height: 200px;
	width: 375px;
}
.agenda-item .speaker {
	margin-bottom: 0;
}
.agenda-item .social {
	color: white;
}
.agenda-item .time {
	margin: 0;
}
